{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section>
    <h2>MA SECTION POUR HELLO</h2>
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

