html, body {
    width:100%;
    height:100%;
    font-size:16px;
    padding:0;
    margin: 0;
}
* {
    box-sizing: border-box;
}

h1 {
    color:orange;
}

header, footer, h1, h2, h3, h4, strong {
    text-align: center;
    width:100%;
}
strong {
    display: inline-block;
}
img {
    width:100%;
    height:30vh;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
}
nav li {
    padding: 0.5rem;
}

a {
    color: #666666;
    text-decoration: none;
}

p {
    padding:0.5rem;
}

.colx3 {
    display: flex;
    flex-wrap: wrap;
}
.colx3 article {
    width:calc(100% / 3);
}

.blog section {
    display: flex;
    flex-wrap: wrap;
}

.blog section > article {
    width:calc(100% / 3);
}

.pagebox {
    max-width:960px;
    margin:0 auto;
    background-color: #cccccc;
}

body {
    background-color: #000000;
}

.header__img {
    width:160px;
    height:160px;
    object-fit: cover;
    padding:1rem;
}