<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <style>
* {
    box-sizing: border-box;
}
nav a {
    display: inline-block;
    padding:8px;
}
form {
    display:flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-wrap: wrap;
}        
.container article {
    margin: 8px;
    width: calc(100% / 3 - 16px);
    background-color: #cccccc;
    padding:8px;
}
    </style>
</head>
<body>
    <div id="app">

        <!-- HTML -->
        <h1>{{ titre1 }}</h1>
        <button @click="counter--">enlever 1</button>
        <button @click="counter++">ajouter 1</button>
        <p>Counter: {{ counter }}</p>
        <p>Counter x2: {{ 2 * counter }}</p>
        <p>Counter x10: {{ 10 * counter }}</p>
        <p>quantité: <input type="text" v-model="counter"></p>
        <p>quantité: <input type="range" v-model="counter"></p>
        <p>prixUnitaire: <input type="text" v-model="prixUnitaire"></p>
        <h4>Prix Total= {{ counter * prixUnitaire }}</h4>

        <!-- CSS -->
        <h1>CSS</h1>
        <p>fond: <input type="color" v-model="fond"></p>
        <p>hauteur: <input type="range" v-model="hauteur" min="0" max="1000"> {{ hauteur}}px</p>
        <p>largeur: <input type="range" v-model="largeur"> {{ largeur }}%</p>
        <h1 :style="{ 'background-color' : fond, height: hauteur + 'px', width: largeur + '%' }">texte avec couleur de fond</h1>


        <!-- CONDITION -->
        <h1>CONDITION</h1>
        <nav>
            <a href="#" @click.prevent="tab=1">tab1</a>
            <a href="#" @click.prevent="tab=2">tab2</a>
        </nav>
        <div v-if="tab == 1">
            <h3>CONTENU TAB 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nihil nulla expedita, rerum ex dolor vero dignissimos illo accusantium non magnam rem impedit eius autem quibusdam totam voluptate, inventore et.</p>
        </div>
        <div v-if="tab == 2">
            <h3>CONTENU TAB 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nihil nulla expedita, rerum ex dolor vero dignissimos illo accusantium non magnam rem impedit eius autem quibusdam totam voluptate, inventore et.</p>
        </div>

        <!-- BOUCLES -->
        <h1>BOUCLE</h1>
        <div class="container">
            <article v-for="article in articles">
                <h3>{{ article.titre }}</h3>
                <p>{{ article.contenu }}</p>
            </article>
        </div>
        <button @click.prevent="chargerArticles">charger Articles de SQL</button>

        <!-- FORMULAIRES -->
        <form @submit.prevent="ajouterArticle">
            <input type="text" v-model="nouveauTitre">
            <textarea cols="30" rows="10" v-model="nouveauContenu"></textarea>
            <button>ajouter article</button>
        </form>
    </div>

    <!-- CDN -->
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <!-- local -->
    <script src="vue.global.prod.js"></script>

    <script>
let config = {
    methods: {
        async chargerArticles ()
        {
            let reponseServeur = await fetch('api-article.php');    // await CAR fetch EST ASYNCHRONE
            let objetJSON = await reponseServeur.json();        
            this.articles = objetJSON.articles;
        },

        ajouterArticle () {
            // JE RECUPERE LES INFOS DU FORMULAIRE
            let nouvelArticle = {
                titre: this.nouveauTitre,
                contenu: this.nouveauContenu
            }
            // JE RAJOUTE UN NOUVEL ARTICLE
            this.articles.push(nouvelArticle);
        }
    },
    data() {
        return {
            // html
            counter: 0,
            titre1: "MA PREMIERE APP AVEC VUE",
            prixUnitaire: 20,
            // css
            fond: '#ff0000',
            hauteur: '200',
            largeur: '50',
            // formulaire
            nouveauTitre: '',
            nouveauContenu: '',
            // tableau et boucle
            articles: [
                { titre : 'titre1', contenu: 'contenu1'},
                { titre : 'titre2', contenu: 'contenu2'},
                { titre : 'titre3', contenu: 'contenu3'},
                { titre : 'titre4', contenu: 'contenu4'},
            ],
            tab: 1
        }
    }
}

// CODE QUI CONNECTE NOTRE PAGE A VUE
Vue.createApp(config).mount('#app');    // COMPILATION SE FAIT COTE FRONT EN JS

    </script>
</body>
</html>