{% extends 'base.html.twig' %}

{% block title %}PAGE CONTACT{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section>
    <h2>MA SECTION POUR MA PAGE CONTACT</h2>

    {{ include('contact/_form.html.twig') }}

    <img src="{{ asset('assets/img/article3.jpg') }}" alt="article2">
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

