{% extends 'base.html.twig' %}

{% block title %}PAGE ACCUEIL{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section>
    <h2>MA SECTION POUR MA PAGE ACCUEIL</h2>
    <img src="{{ asset('assets/img/article1.jpg') }}" alt="article1">
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

